
/* General style */

@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap);

* {
  box-sizing: border-box;
}

:root {
  --primary-Cyan: hsl(179, 62%, 43%);
  --primary-Bright-Yellow: hsl(71, 73%, 54%);
  --neutral-Light-Gray: hsl(204, 43%, 93%);
  --neutral-Grayish-Blue: hsl(218, 22%, 67%);
  --faded-white: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  margin: 1.1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: hsla(179, 62%, 43%, 0.1);
}

/* main */
#card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 7px hsla(218, 22%, 67%, 0.3);
}

header {
  padding: 1.1rem;
}

header h1 {
  margin: 0;
  color: var(--primary-Cyan);
}

header #subHeading {
  color: var(--primary-Bright-Yellow);
  font-weight: 700;
  line-height: 1.4rem;
}

#headerAbout {
  color: var(--neutral-Grayish-Blue);
  font-size: 16px;
  line-height: 2rem;
}

/* subscription */
#subscription {
  background-color: var(--primary-Cyan);
  color: var(--neutral-Light-Gray);
  padding: 1.4rem 1.1rem;
}

#subscription h2 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

#amount {
  display: flex;
  align-items: center;
  color: var(--faded-white);
  font-size: 18px;
  margin-bottom: 0;
}

#amount span {
  color: white;
  font-size: 2.3rem;
  padding-right: 1rem;
  font-weight: 700;
}

#subAbout {
  margin-top: 0.5rem;
}

#btn {
  width: 100%;
  background-color: var(--primary-Bright-Yellow);
  border: none;
  padding: 1.1rem;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 3px 3px 10px 2px rgba(144, 142, 142, 0.5);
  margin-bottom: 0.3rem;
  margin-top: 0.9rem;
  cursor: pointer;
}

/* footer */
footer {
  background-color: hsla(179, 62%, 43%, 0.78);
  padding: 1.4rem 1.1rem;
  border-radius: 0 0 5px 5px;
}

footer h3 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}

footer p {
  color: hsla(0, 0%, 100%, 0.79);
  margin: 0;
  line-height: 1.5rem;
}

/* for screen bigger than 769px */
@media screen and (min-width: 769px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 24.6rem;
    padding: 0;
  }

  
  /* main */
  #card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 7px hsla(218, 22%, 67%, 0.3);
  }

  header {
    padding: 2.5rem 2.3rem;
    grid-row: 1;
    grid-column: 1 /span 3;
  }

  header h1 {
    margin: 0;
  }

  header #subHeading {
    line-height: 1.4rem;
  }

  #headerAbout {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 2rem;
  }

  /* subscription */
  #subscription {
    grid-row: 2;
    padding: 2.5rem 2.3rem;
    border-radius: 0 0 0 5px;
    margin-right: 0;
  }

  #subscription h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
  }

  #amount {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1.1rem;
  }

  #amount span {
    font-size: 2rem;
    padding-right: 1rem;
    font-weight: 700;
  }

  #subAbout {
    margin-top: 0.5rem;
  }

  #btn {
    width: 95%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px rgba(144, 142, 142, 0.5);
    margin-bottom: 0.3rem;
    margin-top: 1.6rem;
  }

  /* footer */
  footer {
    grid-row: 2;
    padding: 2.5rem 2.3rem;
    border-radius: 0 0 5px 0;
  }

  footer h3 {
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
  }

  footer p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5rem;
  }
} 

/* for screen between 376px to 769px */
@media screen and (min-width: 376px) and (max-width: 769px) {
    
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

   /* main */
   #card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 7px hsla(218, 22%, 67%, 0.3);
  }

  header {
    padding: 2rem 1.5rem;
    grid-row: 1;
    grid-column: 1 /span 3;
  }

  header h1 {
    margin: 0;
  }

  header #subHeading {
    line-height: 1rem;
  }

  #headerAbout {
    margin-bottom: 0;
    font-size: 16px;
  }

  /* subscription */
  #subscription {
    grid-row: 2;
    padding: 2rem 1.8rem;
    border-radius: 0 0 0 5px;
  }

  #subscription h2 {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
  }

  #amount {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  #amount span {
    font-size: 2rem;
  }

  #subAbout {
    font-size: 1.2rem;
    margin-top: 0.4rem;
  }

  #btn {
    width: 95%;
    padding: 1.3rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 1.2rem;
  }

  /* footer */
  footer {
    grid-row: 2;
    padding: 2rem 1.8rem;
    border-radius: 0 0 5px 0;
  }

  footer h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
  }

  footer p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.6rem;
  }

}

