
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700');

/*  Variables Declaration */
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

/* Basic Style */
* {
    box-sizing: border-box; /*if we add border or padding, it doesn't affect the width of it. */
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden; /*don't want scroll bar to appear.*/
    margin: 0;
    background-color: var(--Light-gray);
    
}

/* 
    Components
*/

main {
    background-color: var(--White);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 31rem;
    max-width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.1), 0px 20px 50px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s linear;
}

main:hover {
    transform: rotate(10deg);
}

.image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.5rem;
}

.content {
    text-align: center;
}

h1 {
    font-size: 1.4rem;
    color: var(--Dark-blue);
}

p {
    font-size: 15px;
    color: var(--Grayish-blue);
    padding: 0 0.8rem;
}

@media screen and (max-width: 375px) {
    
    main {
        width: 67%;
        height: 60%;
        padding: 5vw;
        border-radius: 3vw;
    }

    h1{
        font-size: 5vw;
    }

    p {
        font-size: 3.2vw;
        padding: 0 1vw;
    }
   
}
