
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box; /*if we add border or padding, it doesn't affect the width of it. */
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden; /*don't want scroll bar to appear.*/
    margin: 0;
    background-color: var(--Light-gray);
    
}

main {
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    max-width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.4rem;
    /* box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.1), 0px 20px 50px rgba(0, 0, 0, 0.1); */
}

.image {
    width: 18rem;
    height: 18rem;
    border-radius: 0.4rem;
}

.content {
    text-align: center;
}

h1 {
    font-size: 1.4rem;
    color: var(--Dark-blue);
}

p {
    font-size: 15px;
    color: var(--Grayish-blue);
    padding: 0 0.8rem;
}

@media screen and (max-width: 375px) {
    
    main {
        width: 15.5rem;
        height: 25rem;
        padding: 1.25rem;
        padding-top: 0;
    }

    .image {
        width: 13rem;
        height: 13rem;
    }

    h1{
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
        padding: 0 0.25rem;
    }
}
