
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700');

:root {
     
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --cyan-active-btn: hsl(159, 36%, 17%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-Very-dark-blue: hsl(212, 21%, 14%);
    --neutral-Dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box; /*if we add border or padding, it doesn't affect the width of it. */
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; /*don't want scroll bar to appear.*/
    margin: 0;
    background-color: var(--primary-cream);
    
}

.sr-only {
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.image {
    width: 19rem;
    height: 28rem;
    border-radius: 0.4rem 0 0 0.4rem;
}

.content {
    background-color: var(--neutral-White);
    text-align: left;
    width: 19rem;
    height: 28rem;
    border-radius: 0 0.4rem 0.4rem 0;
    padding: 2rem;
    margin-top: -3px;
    color: var(--neutral-Dark-grayish-blue);
}

.card-subtitle {
    color: var(--neutral-Dark-grayish-blue);
    padding: 0;
    margin: 0;
    letter-spacing: 0.35rem;
    font-size: 0.7rem;
}

.card-title {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--neutral-Very-dark-blue);
    line-height: 2.1rem;
}

.card-text {
    margin-top: 0;
    padding: 0;
    font-size: 0.875rem;
    color: var(--neutral-Dark-grayish-blue);
    line-height: 1.6rem;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.price-big {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    color: var(--primary-dark-cyan);
}

.price-line-through {
    margin-left: 1rem;
    text-decoration: line-through;
    font-size: 0.85rem;
}

.btn {
    margin-top: 2rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.4rem;
    border: 0;
    background-color: var(--primary-dark-cyan);
    color: var(--neutral-White);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.btn:active {
    background-color: var(--cyan-active-btn);
    outline: none;
}

.btn #icon-img {
    margin-right: 0.8rem;
}

.attribution { 
    font-size: 0.6rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    
    main {
        width: 375px;
        height: 667px;
        padding: 1.1rem 1.2rem;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .image {
        width: 100%;
        height: auto;
        border-radius: 0.6rem 0.6rem 0 0;
    }

    .content {
        width: 100%;
        height: 24rem;
        border-radius: 0 0 0.4rem 0.4rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        margin: -0.5rem;
    }

    .card-title {
        color: var(--neutral-Very-dark-blue);
        font-family: 'Fraunces', sans-serif;
        font-size: 1.9rem;
    }

    .card-text {
        font-size: 0.84rem;
    }

    .btn {
        width: 104%;
        height: 3rem;
    }

    .btn p {
        font-size: 1rem;
        margin-left: 0.8rem;
        font-weight: bold;
    }

}
